{% load static %}
<!-- jQuery should be loaded first -->
<script src="{% static 'admin/assets/js/core/jquery.3.2.1.min.js' %}"></script>
<script src="{% static 'admin/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>

<!-- Bootstrap and Popper.js -->
<script src="{% static 'admin/assets/js/core/popper.min.js' %}"></script>
<script src="{% static 'admin/assets/js/core/bootstrap.min.js' %}"></script>

<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

<!-- Optional Plugins -->
<script src="{% static 'admin/assets/js/plugin/chartist/chartist.min.js' %}"></script>
<script src="{% static 'admin/assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js' %}"></script>
<script src="{% static 'admin/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js' %}"></script>
<script src="{% static 'admin/assets/js/plugin/jquery-mapael/jquery.mapael.min.js' %}"></script>
<script src="{% static 'admin/assets/js/plugin/jquery-mapael/maps/world_countries.min.js' %}"></script>
<script src="{% static 'admin/assets/js/plugin/chart-circle/circles.min.js' %}"></script>
<script src="{% static 'admin/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js' %}"></script>

<!-- Core Scripts -->
<script src="{% static 'admin/assets/js/ready.min.js' %}"></script>
<script src="{% static 'admin/assets/js/demo.js' %}"></script>

<!-- Include SweetAlert2 CSS and JS -->

{% block extra_scripts %}
{% endblock %}
