{% extends 'myadmin/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Add User</div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="squareInput">Square Input</label>
                        <input type="text" class="form-control input-square" id="squareInput"
                               placeholder="Square Input">
                    </div>
                    <div class="form-group">
                        <label for="squareSelect">Square Select</label>
                        <select class="form-control input-square" id="squareSelect">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="pillInput">Pill Input</label>
                        <input type="text" class="form-control input-pill" id="pillInput" placeholder="Pill Input">
                    </div>
                    <div class="form-group">
                        <label for="pillSelect">Pill Select</label>
                        <select class="form-control input-pill" id="pillSelect">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="solidInput">Solid Input</label>
                        <input type="text" class="form-control input-solid" id="solidInput" placeholder="Solid Input">
                    </div>
                    <div class="form-group">
                        <label for="solidSelect">Solid Select</label>
                        <select class="form-control input-solid" id="solidSelect">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="card-action">
                    <button class="btn btn-success">Submit</button>
                    <button class="btn btn-danger" onclick="window.history.back(); return false;">Cancel</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}